<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Lumi uses your microphone for audio calls.</string>
	<key>NSCameraUsageDescription</key>
	<string>Lumi uses your camera for video calls.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Lumi uses your photo library so you can add account and chat photos.</string>
</dict>
</plist>
